<div class = "main-div">
    <p>templatization tool works!</p>
    <p [innerHTML] = "alertMessage"></p>
    <button (click)="resetMessage()">Reset Alert Message</button>
    <div #filedrop>
        <input type="file" #fileInput (change)="handleFileInput($event)"/>
        <button #import type="button" (click)="importJson()">Import Json</button>
    </div>
    <div class="Name">
        Program Name
        <input #programName type="textarea" placeholder="Enter programName">
        Version
        <input #Version type="textarea" placeholder="Enter Version">
        Approver Alias
        <input #AA type="textarea" placeholder="Enter Approver Alias">
    </div>
    <div #sources>
        <h2>Sources</h2>
    </div>
    <div>
        <button id="addsource" (click)="addSource(false)" [style.visibility] = "addsourceVisibility">New Source +</button>
        <button class="b" id="dest" (click)="addSource(true)" [style.visibility] = "destVisibility">Set Destination Source</button>
    </div>
    <div #rules>
        <h2>Rules</h2>
    </div>
    <div #newrule></div>
    <div>
        <button id="addrule" (click)="addRule(false)" [style.visibility] = "addruleVisibility">New Rule +</button>
        <button class="b" id="overall" (click)="addRule(true)" [style.visibility] = "overallVisibility">Set Overall Rule</button>
        <button (click)="submit()">Submit Form</button>
    </div>
    <h4>Output:</h4>
    <div>{{ outputJson }}</div>
</div>
<hr>
<div class = "testing-div">
    <h5>Test div</h5>
    <button (click) = "testFunction(2)">Start Testing</button>
    <br>
    <div id="testDIV" [innerHTML] = "testinnerHTML">
    </div>
    <button (click)="addTable(2)">addTable</button>
</div>