<p>templatization tool works!</p>
<p [innerHTML] = "alertMessage"></p>
<button (click)="resetMessage()">Reset Alert Message</button>
<div id="filedrop">
    <input type="file" id="fileInput" (change)="handleFileInput($event)"/>
    <button id="import" type="button" (click)="importJson()">Import Json</button>
</div>
<div class="Name">
    Program Name
    <input id="programName" type="textarea" placeholder="Enter programName">
    Version
    <input id="Version" type="textarea" placeholder="Enter Version">
    Approver Alias
    <input id="AA" type="textarea" placeholder="Enter Approver Alias">
</div>
<div id="sources">
    <h2>Sources</h2>
    <div *ngIf="sourcesUIFlag == true">
        <p>sourcesUIFlag is working :-)</p>
        <div *ngFor="let i of sourceslen">
            <h3>Source {{ i }}</h3>
            <div id = "x">
                datasourceid: {{ sources[i].datasourceid }} <br>
                Tables: {{sources[i].tables}} <br>
                Projections: {{projections}}{{measures}} <br>
                Filters: {{measureFilter}} AND {{rowFilter}} <br>
                Order By: {{sources[i].rowOrder}} <br>
            </div>
            <div>
                value of i = {{ i }}
            </div>
            <button class = "b" (click) = "editSource(i)" > Edit Source</button>
        </div>
    </div>
    <div *ngIf="editSourceUIFlag == true">
        <h3>Tables</h3>
        <div id = "tables"></div>
        <select id = "tableselect">{{ editSourceX }}</select>
        <button id = "addtable" onClick="addTable(editSourceId)">Add Table</button>
        <div id = "details"></div>
        <button class = "a" onClick="resetSource(editSourceId, sources[editSourceId].destination)">Reset Source</button>
        <button class = "a" onClick="saveSource(editSourceId)">Save Source</button>
    </div>
</div>
<div>
    <button id="addsource" onClick="addSource(false)">New Source +</button>
    <button class="b" id="dest" onClick="addSource(true)">Set Destination Source</button>
</div>
<div id="rules">
    <h2>Rules</h2>
</div>
<div id="newrule"></div>
<div>
    <button id="addrule" onClick="addRule(false)">New Rule +</button>
    <button class="b" id="overall" onClick="addRule(true)">Set Overall Rule</button>
    <button onClick="submit()">Submit Form</button>
</div>