/*add css to templatizationtool here*/
.main-div {
	margin: 10px;
	margin-bottom: 20px;
	width: auto;
}

.Name {
    color: tomato;
    padding: 10px;
}
  
body {
	margin: 20px;
	padding: 20px;
}

button {
	background-color: cornflowerblue;
	color: white;
	border: 0px;
	padding: 10px;
	margin: 10px;
}

.a {
	background-color: forestgreen;
}

.b {
	background-color: tomato;
}

select {
	margin: 10px;
}

input {
	margin: 10px;
}

div {
	margin: auto;
	width: 75%;
}

h4 {
	color: tomato;
}

#filedrop {
	display: block;
}

.testing-div {
	padding: 10px;
	margin: unset;
}